.responsivetext{
    
}
:root { 
    --clr:  #0084ff;
    --secondarycolor:#ff3535;
    --lighcolor:#ffffff ;
    --bgcolor-1:#282828 ;
    --brcolor-2: #181818;
    --padding: 8%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Cairo', sans-serif;
    font-family: 'Harmattan', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Mukta', sans-serif;
    color: var(--lighcolor);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    width: 100%;
}
canvas{
  display:block;
}
#particles-js{
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
  position:absolute;
  top:0;
  width:100%;
  }
.filo{
  background-color: #222;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%,0);
  width: 270px;
  padding: 50px;
  height: 380px ;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0.25),
  0px 0px 0px rgb(0, 0, 0, 0.25),
  inset 5px 5px 10px rgb(0, 0, 0, 0.5),
  inset 5px 5px 20px rgb(255, 255, 255, 0.2),
  inset -5px -5px 15px rgb(0, 0, 0, 0.75);
  opacity: 100%;
  border-radius:10% ;
}
.filo h3{
  position: absolute;
  color: var(--clr);
  text-shadow: 0px 0 20px var(--clr);
  font-size: 20px;
  top: 5%;
  left: 30%;
}
.filo .f1{
  top: -6%;
  position: relative;
  display: flex;
  align-items: center;
  margin: 8.5% 0;
  cursor: pointer;
font-size: 100%;
}
.filo .f1::before{
  content: '';
  position: absolute;
  top:0%;
  left: 0%;
  width: 30px;
  height: 30px;
  background: var(--clr);
  border-radius: 22.5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
  inset 2px 2px 5px rgba(255, 255, 255, 0.25) ,
  inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.filo .f1:hover::before{
  width: 110%;
}
.filo .f1 .f12{
  position: relative;
  min-width: 30px;
  height: 30px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
margin-right: 10%;
}
.filo .f1 .f12::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: #222;
  border-radius:30px ;
  transform: scale(0);
  transition: 0.5s;
}
.filo .f1:hover .f12::before{
  transform: scale(0.8);
}
.filo .f1 .f12 span{
  position: relative;
  font-weight: 1em;
  color: #ffffff;
  transition: 0.5s;
}
.filo .f1 .f13{
  position: relative;
 line-height: 1.15em;

}
.filo .f1 .f13 h4{
font-weight: 600;
color: #ffffff;
transition: 0.5s;
font-size: 14px; 

}

/*كمنكحتننمتانمانتانمتمنت/*/
.filo1{
  background-color: #222;
  position: absolute;
right: 4%;
  top: 16%;
  width: 270px;
  padding: 50px;
  height: 190px ;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0.25),
  0px 0px 0px rgb(0, 0, 0, 0.25),
  inset 5px 5px 10px rgb(0, 0, 0, 0.5),
  inset 5px 5px 20px rgb(255, 255, 255, 0.2),
  inset -5px -5px 15px rgb(0, 0, 0, 0.75);
  opacity: 100%;
  border-radius:30px ;
}
.filo1 h3{
  position: absolute;
  color: var(--clr);
  text-shadow: 0px 0 20px var(--clr);
  font-size: 20px;
  top: 20px;
  right: 70px;
}
.filo1 .f1{
  top: -15%;
  position: relative;
  display: flex;
  align-items: center;
  margin: 15px 0;
  cursor: pointer;
}
.filo1 .f1::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 30px;
  height: 30px;
  background: var(--clr);
  border-radius: 22.5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
  inset 2px 2px 5px rgba(255, 255, 255, 0.25) ,
  inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.filo1 .f1:hover::before{
  width: 110%;
  height: 105%;
}
.filo1 .f1 .f12{
  position: relative;
  min-width: 30px;
  height: 30px;
  color: #181818;

display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
margin-right: 10px;
}
.filo1 .f1 .f12::before{
  content: '';
  position: absolute;
  top: 1px;
  width: 30px;
  height: 30px;
  background: #222;
  border-radius:30px ;
  transform: scale(0);
  transition: 0.5s;
}
.filo1 .f1:hover .f12::before{
  transform: scale(0.8);
}
.filo1 .f1 .f12 span{
  position: relative;
  font-weight: 1em;
  color: #ffffff;
  transition: 0.5s;
}
.filo1 .f1 .f13{
  position: relative;
 line-height: 1.15em; 
}
.filo1 .f1 .f13 h4{
font-weight: 600;
color: #ffffff;
transition: 0.5s;
font-size: 14px; 
}

/*كمنكحتننمتانمانتانمتمنت/*/
.filo2{
  background-color: #222;
  position: absolute;
right: 5%;
bottom:17%;
  width: 270px;
  padding: 50px;
  height: 152px ;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0.25),
  0px 0px 0px rgb(0, 0, 0, 0.25),
  inset 5px 5px 10px rgb(0, 0, 0, 0.5),
  inset 5px 5px 20px rgb(255, 255, 255, 0.2),
  inset -5px -5px 15px rgb(0, 0, 0, 0.75);
  opacity: 100%;
  border-radius:30px ;
}
.filo2 h3{
  position: absolute;
  color: var(--clr);
  text-shadow: 0px 0 20px var(--clr);
  font-size: 20px;
  right: 50px;
  bottom:110px;
}
.filo2 .f1{
  top: -10px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 15px 0;
  cursor: pointer;
}
.filo2 .f1::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 30px;
  height: 30px;
  background: var(--clr);
  border-radius: 22.5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
  inset 2px 2px 5px rgba(255, 255, 255, 0.25) ,
  inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.filo2 .f1:hover::before{
  width: 110%;
}
.filo2 .f1 .f12{
  position: relative;
  min-width: 30px;
  height: 30px;
  color: #181818;

display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
margin-right: 10px;
}
.filo2 .f1 .f12::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: #222;
  border-radius:30px ;
  transform: scale(0);
  transition: 0.5s;
}
.filo2 .f1:hover .f12::before{
  transform: scale(0.8);
}
.filo2 .f1 .f12 span{
  position: relative;
  font-weight: 1em;
  color: #ffffff;
  transition: 0.5s;
}
.filo2 .f1 .f13{
  position: relative;
 line-height: 1.15em; 
}
.filo2 .f1 .f13 h4{
font-weight: 600;
color: #ffffff;
transition: 0.5s;
font-size: 14px; 
}
/*jghjkhghjtfyhjf*/
.filo3{
  background-color: #222;
  position: absolute;
  left: 50px;
  bottom: 90px;
  width: 270px;
  padding: 50px;
  height: 190px ;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0.25),
  0px 0px 0px rgb(0, 0, 0, 0.25),
  inset 5px 5px 10px rgb(0, 0, 0, 0.5),
  inset 5px 5px 20px rgb(255, 255, 255, 0.2),
  inset -5px -5px 15px rgb(0, 0, 0, 0.75);
  opacity: 100%;
  border-radius:30px ;
}
.filo3 h3{
  position: absolute;
  color: var(--clr);
  text-shadow: 0px 0 20px var(--clr);
  font-size: 20px;
bottom: 150px;
  left: 70px;
}
.filo3 .f1{
  top: -15px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 15px 0;
  cursor: pointer;
}
.filo3 .f1::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 30px;
  height: 30px;
  background: var(--clr);
  border-radius: 22.5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
  inset 2px 2px 5px rgba(255, 255, 255, 0.25) ,
  inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.filo3 .f1:hover::before{
  width: 100%;
  height: 110%;
}
.filo3 .f1 .f12{
  position: relative;
  min-width: 30px;
  height: 30px;
  color: #181818;

display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
margin-right: 10px;
}
.filo3 .f1 .f12::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: #222;
  border-radius:30px ;
  transform: scale(0);
  transition: 0.5s;
}
.filo3 .f1:hover .f12::before{
  transform: scale(0.8);
}
.filo3 .f1 .f12 span{
  position: relative;
  font-weight: 1em;
  color: #ffffff;
  transition: 0.5s;
}
.filo3 .f1 .f13{
  position: relative;
 line-height: 1.15em; 
}
.filo3 .f1 .f13 h4{
font-weight: 600;
color: #ffffff;
transition: 0.5s;
font-size: 12px;
}
/*4545*/
.filo4{
  background-color: #222;
  position: absolute;
  left: 50px;
  top: 90px;
  width: 270px;
  padding: 50px;
  height: 150px ;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0.25),
  0px 0px 0px rgb(0, 0, 0, 0.25),
  inset 5px 5px 10px rgb(0, 0, 0, 0.5),
  inset 5px 5px 20px rgb(255, 255, 255, 0.2),
  inset -5px -5px 15px rgb(0, 0, 0, 0.75);
  opacity: 100%;
  border-radius:30px ;
}
.filo4 h3{
  position: absolute;
  color: var(--clr);
  text-shadow: 0px 0 20px var(--clr);
  font-size: 16px;
  top: 20px;
  left: 60px;
}
.filo4 .f1{
  top: -15px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 15px 0;
  cursor: pointer;
}
.filo4 .f1::before{
  content: '';
  position: absolute;
  top:0px;
  left: 0;
  width: 30px;
  height: 30px;
  background: var(--clr);
  border-radius: 22.5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
  inset 2px 2px 5px rgba(255, 255, 255, 0.25) ,
  inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.filo4 .f1:hover::before{
  width: 110%;
  height: 115%;
}
.filo4 .f1 .f12{
  position: relative;
  min-width: 30px;
  height: 30px;
  color: #181818;

display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
margin-right: 10px;
}
.filo4 .f1 .f12::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: #222;
  border-radius:30px ;
  transform: scale(0);
  transition: 0.5s;
}
.filo4 .f1:hover .f12::before{
  transform: scale(0.8);
}
.filo4 .f1 .f12 span{
  position: relative;
  font-weight: 1em;
  color: #ffffff;
  transition: 0.5s;
}
.filo4 .f1 .f13{
  position: relative;
 line-height: 1.15em; 
}
.filo4 .f1 .f13 h4{
color: #ffffff;
transition: 0.5s;
font-size: 12px;
}
/*كمنكحتننمتانمانتانمتمنت/*/
.s_text{
    position: fixed;
    width: 580PX;
    top: 5%;
    height: 44px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    background: #ffffff;
    opacity: 60%;
   
}
.search-box{
  display: none;
  width: fit-content;
  height: fit-content;
  position: fixed;
  top: 5%;
  left: center ;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #282828;
  padding-right: 40px;
  color:rgb(255, 255, 255);
opacity: 100%;
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0.25),
0px 0px 0px rgb(0, 0, 0, 0.25),
inset 5px 5px 10px rgb(0, 0, 0, 0.5),
inset 5px 5px 20px rgb(255, 255, 255, 0.2),
inset -5px -5px 15px rgb(0, 0, 0, 0.75);


}
.input-search::placeholder{
  color:rgb(255, 255, 255);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;

}
.btn-search{

  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
 
  
}
.btn-search:focus ~ .input-search{
  width: 580PX;
  background-color: transparent;
  border-bottom:1px solid var(--clr);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  border-radius:30px ;
  background: #222;
}
.input-search:focus{
  width: 580PX;
  background-color: transparent;
  border-bottom:1px solid var(--clr);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  border-radius:30px ;
  background: #222;
}

.s_text{
  position: absolute;
  width: 580PX;
  top: 25%;
  height: 44px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  background: #ffffff;
  opacity: 60%;
}
.menu{
  position: absolute;
  bottom: 2%;
  height: 50px;
  width: 125px;
  cursor: pointer;
  display:flex;
  flex-flow:wrap;
  align-items:center;
  justify-content:center
}
.logo{
  left: -110px;
  display: block;
  scale: 0.14;
  position: absolute;
}
.menu a{
 right: 5px;
  display:inline;
  position: absolute;
  font-size: 30px;
}
.menu b{
  color: #ff0000;
}
.nn{
  flex-flow:wrap;
  cursor: pointer;
  display: flex;
  justify-items: center;
  align-items:center;
  background-color: #0088cc;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
color: #ffffff;
font-size: 23px;
bottom: 3.2%;
left: 41%;
transform: translate(-50%, 0);
transition: 0.5s;
}
.nn span{
  position: relative;
  left: 5px;
  top: 5px;
transition: 0.3s;
}
.nn span:hover{
top: -5px;
text-shadow: 0 0 20px red;
}
.nn:hover{
  border-bottom: 6px solid rgb(0, 82, 127);
  box-shadow: 0 0 10px rgb(0, 204, 255);
}
@media screen and (max-width: 490px) {
body{
  background-color: #1a1a1a;
}
canvas{
  display:block;

}
#particles-js{
  background-position:00% 00%;
  background-repeat:no-repeat;
  background-size:cover;
  height:0%;
  position:absolute;
  top:0;
  width:0%;
  }
  .men{ position: fixed;
  width: 100%;
  background-color: rgb(29, 29, 29);
  height: 80px;
  box-shadow: 0 0 20px black;
  }
  .menu{
    position: fixed;
top: -1%;
  }
  .te{
color: #ff0000;
  }
  .nn{
    position:fixed;
    top: 0.2%;
left: 90%;
  }
  .filo{
    background: rgb(29, 29, 29);
    position: absolute;
    width: 100%;
    padding: 50px;
    height: 10.8cm ;
    opacity: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px;
    opacity: 100%;
    border-radius:0 ;
    top: 35px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .filo h3{
    position: absolute;
    color: var(--clr);
    text-shadow: 0px 0 20px var(--clr);
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .filo .f1{
   text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    margin: 22px 0;
    cursor: pointer;
    font-size: 100%;
  }
  .filo1{
      align-items: center;
  background: rgb(29, 29, 29);
  width: 100%;
  height: 5.44cm;
      box-shadow: 0px 0px 0px;
      opacity: 100%;
      border-radius:0 ;
      top:455px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .filo1 h3{
      position: absolute;
      color: var(--clr);
      text-shadow: 0px 0 20px var(--clr);
      font-size: 20px;
      top: 6%;
      left: 46%;
      transform: translate(-50%, 0);
    }
    .filo1 .f1{
      position: relative;
      display: flex;
      align-items: center;
      margin: 22px 0;
      cursor: pointer;
      font-size: 100%;}  
.filo3{
         background:rgb(29, 29, 29);
        width: 100%;
        padding: 50px;
        height: 5.35cm ;
        justify-content: center;
        align-items: center;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 0px;
        opacity: 100%;
        border-radius:0 ;
        top: 672px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .filo3 h3{
        position: absolute;
        color: var(--clr);
        text-shadow: 0px 0 20px var(--clr);
        font-size: 17px;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .filo3 .f1{
        display: block;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        margin: 22px 0;
        cursor: pointer;
        font-size: 100%;}  
        .filo2{ 
          background-color: rgb(29, 29, 29);
          position: absolute;
          width: 100%;
          padding: 50px;
          height: 4.2cm ;
          justify-content: center;
          align-items: center;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 0px 0px;
          opacity: 100%;
          border-radius:0 ;
          top:885px;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
        }
        .filo2 h3{
          position: absolute;
          color: var(--clr);
          text-shadow: 0px 0 20px var(--clr);
          font-size: 20px;
        top: 10%;
        right: 55%;
          transform: translate(50%, 0);
        }
        .filo2 .f1{
          position: relative;
          display: flex;
          align-items: center;
          margin: 22px 0;
          cursor: pointer;
          font-size: 100%;
        } 
          .filo4{
            background-color: rgb(29, 29, 29);
            position: absolute;
            width: 100%;
            padding: 50px;
            height: 4cm ;
            justify-content: center;
            align-items: center;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 0px;
            opacity: 100%;
            border-radius:0 ;
            top:1055px;
            left: 50%;
            transform: translate(-50%, 0);
          }
          .filo4 h3{
            position: absolute;
            color: var(--clr);
            text-shadow: 0px 0 20px var(--clr);
            font-size: 20px;
            top: 12%;
            position: absolute;
          }
          .filo4 .f1{
            position: relative;
            display: flex;
            align-items: center;
            margin: 22px 0;
            cursor: pointer;
            font-size: 100%;}  
/*564564*/

.s_text{
  position:  static;
  width: 580PX;
  top: 10%;
  height: 0;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  background: #ffffff;
  opacity: 60%;
}
.search-box{
width: fit-content;
height: fit-content;
position: fixed;
top: -0.5%;
left: 6% ;
}
.input-search{
  scale: 0.6;
height: 50px;
width: 50px;
border-style: none;
padding: 10px;
font-size: 10px;
letter-spacing: 2px;
outline: none;
border-radius: 50%;
transition: all .5s ease-in-out;
background-color: transparent;
padding-right: 40px;
box-shadow: 0px 0px 0px;
color:rgb(255, 255, 255);
opacity: 100%;
}
.input-search::placeholder{
color:rgb(255, 255, 255);
font-size: 10px;
letter-spacing: 2px;
font-weight: 100;

}
.btn-search{
  scale: 0.9;
width: 50px;
height: 50px;
border-style: none;
font-size: 20px;
font-weight: bold;
outline: none;
cursor: pointer;
border-radius: 10%;
position: absolute;
right: 0px;
color:#ffffff ;
background-color:transparent;


}
.btn-search:focus ~ .input-search{
width: 270PX;
background-color: transparent;
border-bottom:1px solid var(--clr);
transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
border-radius:30px ;
background: #222;
}
.input-search:focus{
width: 270PX;
background-color: transparent;
border-bottom:1px solid var(--clr);
transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
border-radius:30px ;
background: #222;
}

.s_text{
position: absolute;
width: 200PX;
top: 25%;
height: 44px;
box-shadow: 0px 0px 20px rgb(0, 0, 0);
background: #ffffff;
opacity: 60%;
}
}
@media screen and (max-width: 942px) and (min-width:490px){
  .search-box{
    position: absolute;
  }
.filo{
  top: 70px;
  left: 50%;
transform: translate(-50%, 0);
}
  .filo1{
top: 460px;
left: 50%;
transform: translate(-50%, 0);
}
.filo2{
  left: 50%;
transform: translate(-50%, 0);
top: 660px;
}
.filo3{
  left: 50%;
transform: translate(-50%, 0);
top: 822px;
}
.filo4{
  left: 50%;
transform: translate(-50%, 0);
top: 1022px;
}
.menu{
  position: absolute;
top: 12px;
}
.nn{
  position: absolute;
  top: 20px;
  left: 32%;
transform: translate(-50%, 0);
}
body{
background-color: #1a1a1a;
}
canvas{
  display:none;
}
#particles-js{
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
  position:absolute;
  top:0;
  width:100%;
  }
}